@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

:root {
    --background-color: #f6f6f9;
    --card-bgcolor: white;
    --card-title-bgcolor: #E6E9F0;
    --text-primary-color: #180E3F;
    --text-secondary-color: #737373;
    --cta-text-color: white;
    --cta-primary-color: #7380ec;
    --color-info-light: #E6E9F0;
    --active-color: #c9bff1;
    --chart-primary-color: #7380ec;
    --success-color: #41f1b6;
    --warning-color:#ffbb55;
    --danger-color: #ff7782;
    --primary-color: #7380ec;
    --card-radius: 2rem;
    --card-radius-1: 1.2rem;
    
    --color-info-dark: #7d8da1;
    --color-dark-variant: #677483;
    --color-white: white;
}

.theme{
    --background-color: #181a1e;
    --card-bgcolor: #202528;
    --card-title-bgcolor: #edeffd;
    --text-primary-color: #edeffd;
    --text-secondary-color: #737373;
    --cta-text-color: white;
    --cta-primary-color: #c9bff1;
    --active-color: #7380ec;

    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: #edeffd;
    --color-info-light: rgba(255, 255, 255, 0.2);
}

.primary {
    color: var(--primary-color);
    font-weight: 400;
}

.danger {
    color: var(--danger-color);
    font-weight: 600;
}

.warning {
    color: var(--warning-color);
    font-weight: 600;
}

.success {
    color: var(--success-color);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    appearance: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    font-family: poppins, sans-serif;
    overflow-x: hidden;
    color: var(--text-primary-color);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.88rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-dark-variant);
}

.muted {
    color: var(--color-info-dark);
}

.profile-photo {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
}

input[type='search'] {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    width: 30rem;
    color: var(--color-dark);
    background: var(--color-info-light);
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto 26rem;
    grid-template-rows: 4rem 12rem auto;
    gap: 1.6rem;
    grid-template-areas:
        "aside header header"
        "aside insights messages"
        "aside table-info metrics";
    height: 100vh;
    padding:0.6rem;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    grid-area: aside;
    
}


aside .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

aside .top .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}


aside .top .info img {
    height: 2.6rem;
    width: 2.6rem;
}

.close{
    display:none;
}

aside .menu-main {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-left:0.4rem;
}

aside .menu-main a {
    color: var(--color-info-dark);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.6rem;
    height: 3rem;
    transition: all 300ms ease;
}

aside .menu-main a:last-child {
    position: relative;
    top: 5rem;
}

aside .menu-main a:hover {
    margin-left: 0.8rem;
}

aside .menu-main a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--cta-primary-color);
}

aside .menu-main a.active {
    background: var(--active-color);
    color: var(--color-dark);
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 26rem;
    grid-template-rows: 4rem;
    grid-template-areas:
        "header-left header-right";
}

header .left {
    grid-area: header-left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.4rem;
    margin-left: 0.2rem;
}

header .left span {
    display:none;
}

header .left .title h1 {
    margin: 0;
    line-height: 0.8;
}

header .right {
    grid-area: header-right;
    display: flex;
    justify-content: end;
    gap: 5rem;
    align-items: center;
}

header .right .toggler {
    background: var(--card-bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    width: 4rem;
}

header .right .toggler span {
    color: var(--color-dark);
    border-radius: 0.4rem;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right .toggler span.active {
    background: var(--chart-primary-color);
    color: var(--color-white);
}

header .right .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.insights {
    grid-area: insights;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12rem;
    gap: 0.8rem;
}

.insight {
    background: var(--card-bgcolor);
    border-radius: var(--card-radius);
    padding: 1.4rem;
}

.insight span {
    color: var(--color-white);
    background: var(--chart-primary-color);
    border-radius: 50%;
    padding: 0.8rem;
}

.insight .progress {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}


.insight .right svg {

    width: 6.4rem;
    height: 6.4rem;
    margin-top: -2.6rem;
    margin-right: 1.1rem;
    margin-bottom: 0;
    transform: rotate(-90deg);
}



.insight .right svg circle {
    fill: none;
    stroke-width: 14;
    stroke: var(--cta-primary-color);
   /* transform: translate(0.4rem, 0.4rem);*/
}

.circle-text {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    font-weight: 400;
    fill: var(--color-dark);

}


.insight1 {
    /* area = 2*pi*r = 2*3.14*36 */
    stroke-dasharray: 226;
    /* area - 81% of area = 81%*/
    stroke-dashoffset: calc(226.2 - 0.81*226.2);
}

.insight2 {
    /* area = 2*pi*r = 2*3.14*36 */
    stroke-dasharray: 226;
    /* area - 81% of area = 81%*/
    stroke-dashoffset: calc(226.2 - 0.45*226.2);

}

.insight3 {
    /* area = 2*pi*r = 2*3.14*36 */
    stroke-dasharray: 226;
    /* area - 81% of area = 81%*/
    stroke-dashoffset: calc(226.2 - 0.66*226.2);

}

.table-info {
    grid-area: table-info;
    width: 100%;
}

.table-info h2 {
    margin: 1rem;
}

.table-info .table-div {
    background: var(--card-bgcolor);
    border-radius: var(--card-radius);
    padding: 2rem;
    width: 100%;  
}

.table-info .table-div .table-scroll {
    width: 100%; 
    height: 200px; 
    overflow-y: auto;
}

.table-info .table-div .table-scroll::-webkit-scrollbar {
    width: 16px;
    right: 10px;
}

/* Adjusting scrollbar appearance */
.table-info .table-div .table-scroll::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}

.table-info .table-div .table-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #ccc;
}

.table-info .table-div .table-scroll::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.table-info table {
    width: 100%;
}

.table-info thead th {
    position: sticky;
    top: 0;
    background: var(--card-bgcolor); 
}

.table-info table thead th {
    text-align: left;
    padding-bottom: 1rem;
}

.table-info table tbody tr td {
    border-bottom: var(--active-color) solid 0.1rem;
    text-align: left;
    height: 2.4rem;
}

.table-info .acenter {
    margin-top: 1rem;
    text-align: center;
}

.table-info table tbody tr:last-child td {
    border-bottom: none;
}

.messages {
    grid-area: messages;
    background: var(--card-bgcolor);
    border-radius: var(--card-radius);
    padding: 1rem;
}

.messages .posts {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: 80%;
    overflow-y: auto;
}

.messages .posts::-webkit-scrollbar {
    width: 16px;
    right: 10px;
}

.messages .posts::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}

.messages .posts::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #ccc;
}

.messages .posts::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.messages h2 {
    margin-top: -0.8rem;
    margin-bottom: 0.8rem;
}

.messages .posts .post {
    display: flex;
    align-items: start;
    gap: 0.6rem;
}

.metrics {
    grid-area: metrics;
}

.metrics .metrics-info{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 1rem;
}

.metrics h2 {
    margin: 1rem;
}

.metric {
    background: var(--card-bgcolor);
    border-radius: var(--card-radius-1);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cta{
    background: none;
    color:  var(--primary-color);
    border: 1px dashed var(--primary-color);
    width: 100%;
    border-radius: var(--card-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.metric .left{
    display:flex;
    gap:0.8rem;
}

.metric .left span{
    background: var(--primary-color);
    color: var(--color-white);
    border-radius: 50%;
    padding:0.4rem;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.metric .left .online{
    background: var(--primary-color);
}

.metric .left .offline{
    background: var(--danger-color);
}

.metric .left .new-cust{
    background: var(--success-color);
}

.metric .info{
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 10rem auto 26rem;
        gap: 1.2rem;
    }

    .insight .right svg {
        margin-right: 0.2rem;
    }
}

@media screen and (max-width: 1200px) {

    body {
        overflow: auto;
    }
    
    .container {
        display:grid;
        grid-template-columns: 4rem auto 30rem;
        grid-template-rows: 4rem 12rem 24rem 12rem;
        grid-template-areas:
        "aside header header"
        "aside insights messages" 
        "aside insights metrics"
        "aside table-info table-info";
        gap: 2rem;
        overflow: auto;
        
    }

    aside{
        grid-area: aside;
    }

    header{
        grid-area: header;
    }

    .insights{
        grid-area: insights;
    }
    .messages{
        grid-area: messages;
    }

    .metrics{
        grid-area: metrics;
    }

    .table-info{
        grid-area: table-info;
    }

    aside .menu-main a h3 {
        display: none;
    }

    aside .top .info h1 {
        display: none;
    }

    .close{
        display:none;
    }

.insights {
        display: flex;
        flex-direction: column;
}

}

@media screen and (max-width: 1200px) {

    body {
        overflow: auto;
    }
    
    .container {
        width:100%;
        display:grid;
        grid-template-columns: 4rem auto 28rem;
        grid-template-rows: 4rem 12rem 24rem 12rem;
        grid-template-areas:
        "aside header header"
        "aside insights messages" 
        "aside insights metrics"
        "aside table-info table-info";
        gap: 2rem;
        overflow: auto;
        
    }

    aside{
        grid-area: aside;
    }

    header{
        grid-area: header;
    }

    .insights{
        grid-area: insights;
    }
    .messages{
        grid-area: messages;
    }

    .metrics{
        grid-area: metrics;
    }

    .table-info{
        grid-area: table-info;
    }

    aside .menu-main a h3 {
        display: none;
    }

    aside .top .info h1 {
        display: none;
    }

    .close{
        display:none;
    }

.insights {
        display: flex;
        flex-direction: column;
}

header {
    grid-template-columns: auto 28rem;
    grid-template-rows: 4rem;
}

input[type='search'] {
    width: 18rem;
}

.table-info table tbody tr td:last-child {
    display: none;
}

}

@media screen and (max-width: 960px) {

    body {
        overflow: auto;
    }
    
    .container {
        width:100%;
        display:flex;
        flex-direction: column;
        gap: 2rem;
        overflow: auto;
        z-index: 1;
        
    }

    aside{
        display:none;
        width: 60%;
        z-index: 2;
        position: absolute;
        top:0;
        left:0;
        background: var(--background-color);
    }

    aside .top .info h1 {
        display: block;
    }
    aside .menu-main a h3 {
        display: block;
    }

    header .title {
        display: none;
    }

    .close{
        display:block;
    }

header {
    grid-template-columns: auto;
    grid-template-rows: 4rem;
}

header .right{
    gap: 1rem;
}

header .profile-info{
    display:none;
}

header .left span {
    display:block;
}

input[type='search'] {
    width: 20rem;
}

}

@media screen and (max-width: 450px) {
input[type='search'] {
    width: 12rem;
}

}